.body {
    font-family: "Inter Tight", sans-serif;
    background-color: #7a3145;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style: none;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}






.container {
    min-width: 375px;
    height: 520px;
}

.footer { 
    background-color: #7a3145;
}
  
.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 20px;
  }
  
  .footer-container-logo {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    width: 168px;
     height: 16px;
     margin-bottom: 16px;
  }
  
.footer-logo-links {
    display: inline-flex;
}
  .footer-links-icons {
    fill: #fbfbfb;
    gap: 4px
}
  
  .footer-text {
        font-family: "Inter Tight", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.28571;
        color: #fbfbfb;
        max-width: 296px;
        margin-bottom: 26px;
    }
  
  .footer-menu-wrap {
    width: 155px;
  height: 112px;
  flex-direction: column;
  font-size: 28px;
      font-weight: 600;
      line-height: 1;
  font-family: "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  }
 
  .footer-menu-link {
    
    font-size: 28px;
        font-weight: 600;
        line-height: 1;
    font-family: "Inter Tight", sans-serif;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    flex-grow: 1;
    /* margin-top: 40px;
    gap: 14px; */
    min-width: 155px;
    

  }

.footer-contacts-list {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  flex-grow: 1;
  margin-top: 40px;
  
}

    .footer-contacts-item {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.28571;
        max-width: 215px;
        font-family: "Inter Tight", sans-serif;
        color: #fbfbfb;
        letter-spacing: -0.01em;
        margin: auto 0; 
    }

.footer-privacy-block {
        display: flex;
        margin-top: 80px;
       justify-content: space-between;
    }

    .footer-privacy {
        
    }
    .footer-privacy-item {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.16667;
        max-width: 215px;
        font-family: "Inter Tight", sans-serif; 
        color: rgba(251, 251, 251, 0.5);
    }
   
    @media screen and (min-width: 768px) {
        .container {
              max-width: 1157px;
          }

          .footer {
            padding-top: 32px;
        
            padding-bottom: 32px;
            
          }

       
.footer-container {
    display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 0;
        width: 584px;
            padding-top: 32px;
        }

.footer-section {
display: inline-flex;
align-items: baseline;
flex-direction: row;
/* justify-content: flex-start; */
flex-wrap: wrap;
/* justify-content: space-between; */

        }

.footer-text {
        max-width: 265px;
        justify-content: flex-end;
    }





        }