.body {
    font-family: "Inter Tight", sans-serif;
    background-color: #7a3145;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    list-style: none;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}






.container {
    min-width: 375px;
    height: 520px;
}

.footer { 
    background-color: #7a3145;
   
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    /* padding-right: 20px;
    padding-left: 20px; */
}

/* .footer-logo-item {
    display: flex;
    justify-content: flex-start;
} */
.footer-section {
    display: flex;
    flex-direction: column;
  }
.footer-links-icons {
    fill: #fbfbfb;
}
  
/* .footer-logo {
    display: flex;
} */
.footer-logo-wrap {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
}

.footer-text {
    font-family: "Inter Tight", sans-serif;
     color: #fbfbfb;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.28571;
        max-width: 296px;
        margin-bottom: 40px;
    }
    
.footer-menu-link {
    flex-direction: column;
    font-size: 28px;
        font-weight: 600;
        line-height: 1;
    font-family: "Inter Tight", sans-serif;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    gap: 14px;
    max-width: 155px;
}

.footer-menu-list {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  flex-grow: 1;
  margin-bottom: 40px;
}

.footer-contacts-list {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  flex-grow: 1;
}

    .footer-contacts-item {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.28571;
        max-width: 215px;
        font-family: "Inter Tight", sans-serif;
        color: #fbfbfb;
        letter-spacing: -0.01em;
        margin: auto 0; 
    }

.footer-privacy-block {
        display: flex;
        margin-top: 80px;
       justify-content: space-between;
    }

    .footer-privacy-item {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.16667;
        max-width: 215px;
        font-family: "Inter Tight", sans-serif; 
        color: rgba(251, 251, 251, 0.5);
    }
   
    @media screen and (min-width: 768px) {
        .container {
              max-width: 1157px;
          }

          .footer {
            padding-top: 32px;
        
            padding-bottom: 32px;
            
          }

       
.footer-container {
    display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 0;
        width: 584px;
            padding-top: 32px;
        }

.footer-section {
display: inline-flex;
align-items: baseline;
flex-direction: row;
/* justify-content: flex-start; */
flex-wrap: wrap;
/* justify-content: space-between; */

        }

.footer-text {
        max-width: 265px;
        justify-content: flex-end;
    }





        }